body {
  font-family: Arial, San-Serif;
  font-size: 100%;
  background-color: з обраної палітри!;
}

ul {
  margin: 0;
  padding: 0;
}

ul,li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  padding: 50px 0;
  background-color: з обраної палітри!;
}

h1,h2 {
  color: grey;
  text-align: center;
}

nav {
  background-color: з обраної палітри;
  border-color: з обраної палітри;
  min-height: 64px;
}

nav li {
  float: left;
  width: 100px;
}

nav a {
  display: block;
  color: з обраної палітри – контрастно до кольору тла;
  line-height: 4em;
  font-weight: bold;
  text-align: center;
}

nav li a:hover {
  color: з обраної палітри – контрастно до кольору зміненого тла;
  background-color: з обраної палітри – контрастно до кольору активного елемента меню;
}

p {
  font-size: 16px;
  line-height: 1.3em;
  margin-top: 0.1em;
  margin-bottom: 0;
  color: з обраної палітри – контрастно до кольору тла;
}

footer {
  background-color: з обраної палітри!;
  color: з обраної палітри;
  padding: 20px 0;
  margin-top: 30px;
}


